@font-face {
  font-family: "Orbitron";
  src: url("../fuentes/Orbitron-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Josefin";
  src: url("../fuentes/Josefin_Sans/static/JosefinSans-SemiBold.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.div__mensaje {
  margin: 2em 0em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.div__mensaje img {
  height: 150px;
}

.div__mensaje p {
  margin-top: 2em;
  width: 70%;
  font-family: inherit;
  line-height: 1.7em;
  text-align: center;
  font-size: 18px;
}

.header-inicio__menu ul {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 0.7em;
  background-color: #393e46;
  opacity: 0.8;
  border-bottom: 3px solid rgba(0, 173, 181, 0.7);
  z-index: 10;
}

.header-inicio__menu ul li:first-child {
  grid-column: 1/-1;
}

.header-inicio__menu ul li:first-child a {
  color: #00adb5;
  font-size: 20px;
  text-transform: none;
}

.header-inicio__menu ul li {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-inicio__menu ul li img {
  height: 3em;
}

.header-inicio__menu ul li a {
  color: white;
  text-decoration: none;
  font-family: "Orbitron";
  text-transform: uppercase;
  letter-spacing: 2px;
  opacity: 1;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.header-inicio__menu ul li a:hover {
  -webkit-transform: scale(1.3, 1.3);
          transform: scale(1.3, 1.3);
}

.header-inicio__titulo {
  background-color: #222831;
  margin-top: 102px;
  padding: 2.5em;
}

.header-inicio__titulo h1 {
  color: #eeeeee;
  font-family: "Josefin";
  font-size: 50px;
  text-align: center;
}

.main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  height: 80vh;
  padding: 2em;
}

.main .div__img {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  position: relative;
}

.main .div__img .img__fondo,
.main .div__img .img__medio,
.main .div__img .img__encima {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .div__img .img__fondo img,
.main .div__img .img__medio img,
.main .div__img .img__encima img {
  height: 100%;
  width: 100%;
  -webkit-box-shadow: 0px 0px 4px black;
          box-shadow: 0px 0px 4px black;
  -webkit-filter: grayscale(40%);
          filter: grayscale(40%);
  -webkit-transition: all 500ms;
  transition: all 500ms;
  z-index: 0;
}

.main .div__img .img__fondo {
  z-index: 1;
  height: 70%;
  width: 40%;
  left: 40%;
  top: 20%;
}

.main .div__img .img__fondo img:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  -webkit-box-shadow: 0px 0px 4px black, 2px 2px 3px black;
          box-shadow: 0px 0px 4px black, 2px 2px 3px black;
  z-index: 5;
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
}

.main .div__img .img__medio {
  top: 0px;
  right: 40%;
  height: 70%;
  width: 50%;
}

.main .div__img .img__medio img:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  -webkit-box-shadow: 0px 0px 4px black, 2px 2px 3px black;
          box-shadow: 0px 0px 4px black, 2px 2px 3px black;
  z-index: 5;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.main .div__img .img__encima {
  top: 30%;
  height: 50%;
  left: 5%;
  width: 60%;
}

.main .div__img .img__encima img:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  -webkit-box-shadow: 0px 0px 4px black, 2px 2px 3px black;
          box-shadow: 0px 0px 4px black, 2px 2px 3px black;
  z-index: 5;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.main .div__formulario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .div__formulario form {
  padding: 2em;
  background-color: #00adb5;
  border-radius: 5px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  border: 2px solid #393e46;
}

.main .div__formulario form div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  grid-gap: 5px;
}

.main .div__formulario form div label {
  margin: auto 0;
  text-align: right;
  color: white;
  font-family: "Orbitron";
  letter-spacing: 2px;
}

.main .div__formulario form div input {
  height: 30px;
  border-radius: 5px;
  padding: 2px;
  border: 1px solid #393e46;
  color: #777;
}

.main .div__formulario form div input:focus {
  outline: none;
  border: 2px solid #222831;
  color: black;
}

.main .div__formulario form div textarea {
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #393e46;
  color: #777;
}

.main .div__formulario form div textarea:focus {
  outline: none;
  border: 2px solid #222831;
  color: black;
}

.main .div__formulario form .email {
  grid-column: 1/-1;
  -ms-grid-columns: 1fr 5.15fr;
      grid-template-columns: 1fr 5.15fr;
}

.main .div__formulario form .message {
  grid-column: 1/-1;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 5fr;
      grid-template-rows: 1fr 5fr;
}

.main .div__formulario form .message label {
  text-align: center;
}

.main .div__formulario form button {
  grid-column: 1/-1;
  width: 50%;
  padding: 5px;
  background-color: #222831;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  font-family: inherit;
  font-size: 20px;
  margin: 0 auto;
  cursor: pointer;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.main .div__formulario form button:hover {
  background-color: #eeeeee;
  color: #222831;
  border: 1px solid #222831;
}

footer {
  margin-top: 0em !important;
}

footer {
  margin-top: 3em;
  background-color: #222831;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 1fr;
      grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 1em;
}

footer .div__mapa {
  width: 65%;
  margin: 0px auto;
  height: 20em;
  padding: 1em;
}

footer .div__mapa iframe {
  width: 100%;
  height: 100%;
}

footer h3 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #00adb5;
  text-align: center;
  font-size: 25px;
  font-family: "Orbitron";
  letter-spacing: 3px;
}

footer .div__hacemos {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 3fr;
      grid-template-rows: 1fr 3fr;
  padding: 1em;
}

footer .div__hacemos ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap column;
          flex-flow: wrap column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .div__hacemos ul li {
  list-style: none;
  color: white;
  text-align: center;
  font-size: 18px;
  padding: 0.7em;
  font-family: inherit;
}

footer .div__contactanos {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 3fr;
      grid-template-rows: 1fr 3fr;
  padding: 1em;
}

footer .div__contactanos .div__contactanos__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap column;
          flex-flow: wrap column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .div__contactanos .div__contactanos__info span {
  padding: 0.5em;
  color: white;
  font-size: 18px;
  font-family: inherit;
}

footer .div__contactanos .div__contactanos__info span .icon {
  color: #00adb5;
}

footer .div__contactanos .div__contactanos__info .div__contactanos__redes {
  margin-top: 1em;
  padding: 0.5em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  grid-gap: 0.5em;
  width: 100%;
}

footer .div__contactanos .div__contactanos__info .div__contactanos__redes a {
  text-align: center;
}

footer .div__contactanos .div__contactanos__info .div__contactanos__redes a i {
  font-size: 2.5em;
  color: white;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

footer .div__contactanos .div__contactanos__info .div__contactanos__redes a i:hover {
  -webkit-transform: scale(1.3, 1.3);
          transform: scale(1.3, 1.3);
  color: #00adb5;
}

footer .derechos {
  background-color: black;
  grid-column: 1/-1;
  text-align: center;
  padding: 1.5em;
  border-top: 1px solid #00adb5;
}

footer .derechos strong {
  color: white;
  font-size: 1.5em;
  font-family: "Josefin";
  letter-spacing: 1px;
}

footer .derechos strong a {
  font-size: 1.3em;
  text-decoration: none;
  color: #00adb5;
  letter-spacing: 1px;
  font-family: "Josefin";
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

footer .derechos strong a:hover {
  text-decoration: underline;
}

@media (max-width: 1200px) {
  main .div__titulo h1 {
    font-size: 30px;
    padding: 0.7em;
  }
  .section__cabecera .div__imgs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section__cabecera .div__imgs .div__img-medio {
    display: none;
  }
  .section__cabecera .div__imgs .div__img-superior {
    height: 80%;
    left: 40%;
    top: 20%;
  }
  .section__noticias .div__noticias .div__noticia .a__leer {
    width: 90%;
  }
  .section__nosotros .div__nosotros__img .div__img {
    width: 70%;
  }
  .div__productos .div__producto {
    width: 90%;
  }
}

@media (max-width: 1024px) {
  .header-inicio .header-inicio__menu ul li a {
    font-size: 15px;
  }
  main .div__titulo h1 {
    font-size: 25px;
  }
  main p {
    font-size: 16px;
  }
  .section__cabecera .div__imgs .div__img-superior {
    display: none;
  }
  .section__cabecera .div__imgs .div__img-atras {
    position: static;
  }
  .header-inicio__titulo {
    margin-top: 93px;
  }
  .section__calidad .div__calidad__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section__calidad .div__calidad__img img {
    height: 70%;
  }
  .section__calidad .div__calidad ul li {
    font-family: inherit;
    font-size: 16px;
  }
  .section__noticias .div__noticias {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .section__final .div__contacto img {
    width: 100%;
  }
  .section__final .div__productos,
  .section__final .div__contacto,
  .section__final .div__servicios {
    height: 55vh;
  }
  .section__mision__vision .div__mision p, .section__mision__vision .div__vision p {
    padding: 1em 1em;
  }
  .section__nosotros .div__nosotros__img {
    height: 80%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section__mision__vision .div__mision p, .section__mision__vision .div__vision p {
    padding: 1em 1em;
  }
  .section__instalaciones .div__instalaciones .div__instalaciones__img img {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    width: 90%;
  }
  .contactos {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    height: auto;
  }
  .contactos .div__img {
    height: 400px;
  }
  .contactos .div__img .img__fondo {
    left: 50%;
  }
  .contactos .div__img .img__medio {
    right: 25%;
  }
  .contactos .div__img .img__encima {
    width: 50%;
  }
  .contactos .div__formulario {
    margin-top: 2em;
  }
  .div__productos .div__producto {
    width: 100%;
  }
  .div__servicio__box .div__servicio__img div {
    padding: 0em;
  }
  .div__servicio__box .div__servicio__img div p {
    padding: 1em;
  }
  footer .div__mapa {
    width: 100%;
  }
  footer .div__hacemos ul li {
    font-size: 16px;
  }
  footer .div__contactanos .div__contactanos__info span {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .header-inicio .header-inicio__menu ul {
    position: static;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 10px;
  }
  .header-inicio .header-inicio__banner .header-inicio__banner__img {
    height: 75vh;
  }
  main .div__titulo h1 {
    font-size: 20px;
  }
  main p {
    text-align: justify;
  }
  .section__cabecera {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .section__cabecera .div__imgs {
    display: none;
  }
  .section__calidad {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .section__calidad .div__calidad__img {
    display: none;
  }
  main .section__noticias .div__titulo {
    width: 85%;
  }
  .section__final {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .section__final .div__productos,
  .section__final .div__servicios,
  .section__final .div__contacto {
    height: 50vh;
  }
  .header-inicio__titulo {
    margin-top: 0px;
  }
  .section__nosotros {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .section__nosotros .div__nosotros__personal {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .header-inicio__titulo h1 {
    font-size: 30px;
  }
  .section__nosotros .div__nosotros__img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .section__nosotros .div__nosotros__personal {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .main h2 {
    font-size: 30px;
    margin-bottom: 1em;
  }
  .section__nosotros {
    margin-top: 1em;
  }
  .section__mision__vision .div__mision p, .section__mision__vision .div__vision p {
    padding: 1em 0em;
  }
  .section__nosotros .div__nosotros__img .div__img .primero, .section__nosotros .div__nosotros__img .div__img .segundo {
    -webkit-transform: rotate(8deg);
            transform: rotate(8deg);
  }
  .section__nosotros .div__nosotros__img .div__img .primero, .section__nosotros .div__nosotros__img .div__img .primera {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  .section__nosotros .div__nosotros__img {
    height: 350px;
  }
  .section__nosotros .div__nosotros__img .div__img {
    width: 50%;
  }
  .section__nosotros .div__nosotros__personal {
    margin-top: 1em;
  }
  .section__nosotros .div__nosotros__personal .div__personal {
    padding-bottom: 2em;
  }
  .section__mision__vision {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .section__instalaciones .div__instalaciones {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
    padding: 2em 0em;
    padding-bottom: 0em;
  }
  .section__instalaciones .div__instalaciones .div__instalaciones__img img {
    width: 100%;
  }
  .contactos .div__formulario form {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    width: 100%;
  }
  .main .div__formulario form div label {
    text-align: center;
  }
  .main .div__formulario form div {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .main .div__formulario form div,
  .main .div__formulario form .email {
    -ms-grid-columns: 2.5fr 5fr;
        grid-template-columns: 2.5fr 5fr;
  }
  .div__productos {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .div__productos .div__producto .producto__info p {
    display: none;
  }
  .div__producto .div__carrito {
    background-color: #00adb5;
  }
  .div__productos .div__producto .div__carrito i,
  .div__productos .div__producto .div__carrito a {
    opacity: 1;
  }
  .div__servicio__box {
    height: 250px;
  }
  .div__servicio__box .div__servicio__img div p {
    font-size: 16px;
  }
  .div__servicio__box {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
  footer {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  footer .div__mapa {
    grid-column: 1/-1;
  }
  footer .div__contactanos .div__contactanos__info .div__contactanos__redes a i {
    font-size: 2em;
  }
  footer .derechos strong {
    font-size: 1em;
  }
  footer .derechos strong a {
    font-size: 1em;
  }
}

@media (max-width: 480px) {
  .section__cabecera {
    margin-top: 0em;
  }
  .section__reserva {
    margin: 0px;
  }
  .section__calidad {
    margin-bottom: 0em;
  }
  .section__noticias .div__noticias {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .section__final {
    margin: 0px;
    grid-gap: 0px;
  }
  .section__final .div__productos,
  .section__final .div__servicios,
  .section__final .div__contacto img {
    border: none;
  }
  .section__final .div__productos,
  .section__final .div__servicios {
    border-bottom: 1px solid #00adb5;
  }
  .section__final a h2 {
    text-decoration: underline;
  }
  .section__nosotros .div__nosotros__img .div__img {
    width: 70%;
  }
  .section__mision__vision .div__mision p, .section__mision__vision .div__vision p {
    font-size: 16px;
  }
  .section__instalaciones .div__instalaciones {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .main {
    padding: 2em 1em;
  }
  .main .div__formulario form {
    width: 100%;
    margin: 0 auto;
    padding: 1em;
  }
  .main .div__formulario form div,
  .main .div__formulario form .email {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .main .div__formulario form div label,
  .main .div__formulario form .email label {
    text-align: center;
  }
  .productos {
    padding: 0;
  }
  .productos .div__mensaje p {
    width: 85%;
  }
  .div__mensaje img {
    height: 100px;
  }
  .div__productos {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .div__cita__contactos .div__cita h1, .div__cita__contactos .div__contactos h1 {
    font-size: 24px;
  }
  .div__servicios__titulo {
    -ms-grid-columns: 1fr 8fr 1fr;
        grid-template-columns: 1fr 8fr 1fr;
  }
  .div__servicios__titulo h1 {
    font-size: 35px;
  }
  footer {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin-top: 1em;
  }
}

@media (max-width: 360px) {
  .div__servicio__box .div__servicio__img div {
    display: none;
  }
}
/*# sourceMappingURL=contactos.css.map */