@use 'utilities';

/*----------------------***** RESPONSIVE ***** ----------------------*/

@media (max-width: map-get($map: utilities.$media-query, $key: 'XL')) {
    .active{
        display: block !important;
    }
    .main-inicio .main-inicio__titles h1 {
        font-size: map-get($map: utilities.$tamanio-fuente, $key: 'S');
    }
    .div__img--efect-position {
        @include utilities.display-flex-row(1);

        .img__medium{
            display: none;
        }
        .img__above{
            height: 80%;
            left: 40%;
            top: 20%;
        }
    }
    .header-inicio__menu > ul { 
        grid-template-columns: 0.5fr 3fr 1fr;
    }
    .header-inicio__menu .registros {
        display: none;
        position: absolute;
        width: 160px;
        top: 85px;
        // @include utilities.display-flex-column(1);
        
        li {
            border: 3px solid #00adb5 !important;
            border-top: none !important;
        }
    }
    .header-inicio__menu .hide-user {
        display: block;
    }
    .header-inicio__menu .registros li {
        display: block !important;
        background-color: utilities.$color_gris;
    }

    .main-contact {
        grid-template-columns: 1fr;
        margin: 0;
        .div__img--efect-position {
            display: none;
        }
    }
    
    .section__noticias .div__noticias .div__noticia .a__leer {
        width: 90%;
    }

    .section__nosotros .div__nosotros__img .div__img {
        width: 70%;
    }

    .div__productos .div__producto {
        width: 90%;
    }
}

@media (max-width: map-get($map: utilities.$media-query, $key: 'L')){
    .blue {
        background-color: utilities.$color_celeste !important;
        left: 350px !important;
    }
    .expansion {
        width: 380px !important;
        opacity: 1 !important;
    }
    main p {
        font-size: map-get($map: utilities.$tamanio-fuente, $key: 'XS');;
    }

    .div__img--efect-position {

        .img__behind{
            position: static;

            img {
                height: 400px;
            }
        }
        .img__above{
            display: none;
        }
    }
    
    .header-inicio__titulo {
        margin-top: 1px;
    }

    .section__calidad .div__calidad__img {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .section__calidad .div__calidad__img img{
        height: 70%;
    }

    .section__calidad .div__calidad ul li {
        font-family: inherit;
        font-size: 16px;
    }

    .section__noticias .div__noticias {   
        grid-template-columns: 1fr 1fr;
    }

    .section__final .div__contacto img {
        width: 100%;
    }

    .section__final .div-productos,
    .section__final .div__contacto,
    .section__final .div__servicios {
        height: 55vh;
    }

    .section__mision__vision .div__mision p, .section__mision__vision .div__vision p {
        padding: 1em 1em;
    }
    
    .section__nosotros .div__nosotros__img {
        height: 80%;
        align-items: center;
    }

    .section__mision__vision .div__mision p, .section__mision__vision .div__vision p {
        padding: 1em 1em;
    }

    .section__instalaciones .div__instalaciones .div__instalaciones__img img {
        transform: rotateX(0deg);
        width: 90%;
    }

    .main-contact {
        .form {
            margin-top: 2em;
            width: 80%;;
        }
    }

    .div__productos .div__producto {
        width: 100%;
    }

    .div__servicio__box .div__servicio__img div {
        padding: 0em;
    }

    .div__servicio__box .div__servicio__img div p {
        padding: 1em;
    }

    footer .footer__map {
        width: 100%;
    }

    footer .footer__make ul li {  
        font-size: 16px;   
    }

    footer .footer__contact .footer__contact-info span {
        font-size: 16px;
    }
}

@media (max-width:  map-get($map: utilities.$media-query, $key: 'M')) {

    .header-inicio .header-inicio__banner .header-inicio__banner-img {
        height: 75vh;
    }

    .main-inicio .main-inicio__titles {
        width: 80%;
    }

    main p {
        text-align: justify;
    }

    .section__cabecera {
        grid-template-columns: 1fr;

        .div__imgs {
            display: none;
        }
    }

    .section__calidad {
        grid-template-columns: 1fr;

        .div__calidad__img {
            display: none;
        }
    }

    main .section__noticias .div__titulo {
        width: 85%;
    }

    .section__final {
        grid-template-columns: 1fr;
    }

    .section__final .div__productos,
    .section__final .div__servicios,
    .section__final .div__contacto {
        height: 50vh;
    }

    .header-inicio__titulo {
        margin-top: 0px;
    }

    .section__nosotros {
        grid-template-columns: 1fr;
        padding-top: 1em;
    }

    .section__nosotros .div__nosotros__personal {
        grid-template-columns: 1fr;
    }

    .header-inicio__titulo h1 {
        font-size: 30px;
    }

    .section__nosotros .div__nosotros__img {
        order: 1;
    }

    .section__nosotros .div__nosotros__personal {
        order: 2;
    }

    .main h2 {
        font-size: 30px;
        margin-bottom: 1em;
    }

    .section__nosotros {
        margin-top: 1em;
    }

    .section__mision__vision .div__mision p, .section__mision__vision .div__vision p {
        padding: 1em 0em;
    }

    .section__nosotros .div__nosotros__img .div__img .primero, .section__nosotros .div__nosotros__img .div__img .segundo {
        transform: rotate(8deg);
    }

    .section__nosotros .div__nosotros__img .div__img .primero, .section__nosotros .div__nosotros__img .div__img .primera {
        transform: rotate(-8deg);
    }

    .section__nosotros .div__nosotros__img {
        height: 350px;
    }

    .section__nosotros .div__nosotros__img .div__img {
        width: 50%;
    }

    .section__nosotros .div__nosotros__personal {
        margin-top: 1em;
    }

    .section__nosotros .div__nosotros__personal .div__personal {
        padding-bottom: 2em;
    }

    .section__mision__vision {
        grid-template-columns: 1fr; 
    }

    .section__instalaciones .div__instalaciones {
        grid-template-columns: 1fr 1fr;
        grid-gap: 2em;
        padding: 2em 0em;
        padding-bottom: 0em;
    }

    .section__instalaciones .div__instalaciones .div__instalaciones__img img {
        width: 100%;
    }

    .main-contact {
        height: auto;

        .form {
            width: 100%;
            padding: 0;
        }
    }

    .main-contact .form form {
        grid-template-columns: 1fr;
        width: 100%;
    }

    .main-contact .form form div label {
        text-align: center;
    }
    
    .main-contact .form form div {
        grid-template-columns: 1fr;
    }

    .div__productos {
        grid-template-columns: 1fr 1fr;
    }

    .div__productos .div__producto .producto__info p {
        display: none;
    }

    .div__producto .div__carrito{
        background-color: utilities.$color_celeste;
    }

    .div__productos .div__producto .div__carrito i, 
    .div__productos .div__producto .div__carrito a{
        opacity: 1;
    }

    .div__servicio__box {
        height: 250px;
    }

    .div__servicio__box .div__servicio__img div p {
        font-size: 16px;
    }

    .div__servicio__box {
        flex-basis: 45%;
    }

    footer {
        grid-template-columns: 1fr 1fr;
    }

    footer .footer__map {
        grid-column: 1/-1;
    }

    footer .footer__contact .footer__contact-info .footer__contact-networks a i {
        font-size: 2em;
    }

    footer .rights strong {
        font-size: 1em;
    }

    footer .rights strong a {
        font-size: 1em;
    }
}

@media (max-width: 480px){
    .blue {
        left: 82vw !important;
    }
    .expansion {
        width: 100vw !important;
    }
    .main-us h2 {
        font-size: 1.7em;
    }
    .section__cabecera {
        margin-top: 0em;
    }

    .section__reserva {
        margin: 0px;
    }

    .section__calidad {
        margin-bottom: 0em;
    }

    .section__noticias .div__noticias {
        grid-template-columns: 1fr; 
    }

    .section__final {
        margin: 0px;
        grid-gap: 0px;
    }

    .section__final .div__productos,
    .section__final .div__servicios,
    .section__final .div__contacto img {
        border: none;
    }

    .section__final .div__productos,
    .section__final .div__servicios {
        border-bottom: 1px solid utilities.$color_celeste;
    } 
    
    .section__final a h2 {
        text-decoration: underline;
    }

    .section__nosotros .div__nosotros__img .div__img {
        width: 70%;
    }

    .section__mision__vision .div__mision p, .section__mision__vision .div__vision p {
        font-size: 16px;
    }

    .section__instalaciones .div__instalaciones {
        grid-template-columns: 1fr;
    }

    .main-contact {
        padding: map-get($map: utilities.$pad, $key: 'XS');
    }

    .productos {
        padding: 0;

        .div__mensaje p {
            width: 85%;
        }
    }

    .div__mensaje img {
        height: 100px;
    }

    .div__productos {
        grid-template-columns: 1fr;
    }

    .div__cita__contactos .div__cita h1, .div__cita__contactos .div__contactos h1 {
        font-size: 24px;
    }

    .div__servicios__titulo {
        grid-template-columns: 0fr 10fr 0fr;
    }

    .div__servicios__titulo h1 {
        font-size: 35px;
    }
    .div__servicio__box {
        flex-basis: 100%;
    }

    footer {
        grid-template-columns: 1fr;
        margin-top: 1em;
    }
    .view__register form {
        padding: map-get($map: utilities.$pad, $key: 'L') !important;
        padding-top: 0 !important;
        input {
            width: 200px !important;
        }
    }
    
}

@media (max-width: 360px) {
    .div__servicio__box .div__servicio__img div {
        display: none;
    }
    .blue {
        left: 77vw !important;
    }
}


