
// Variables
$color_gris : #393e46;
$color_gris_oscuro : #222831;
$color_celeste: #00adb5;
$color_claro: #eeeeee;
$color_gris_claro: #777;

$fuente_menu: "Orbitron";
$fuente_titulo: "Josefin";

$parrafo: Verdana, Geneva, Tahoma, sans-serif;
$menu: serif;
$titulo : 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$especial: "blackOps";
$simbolos: "WebSymbolsRegular";

$media-query: ("XL": 1200px, "L": 1024px, "M": 768px, "S": 470px);
$pad: ("XXL": 3em,"XL": 2em, "L": 1.5em, "M": 1.25em, "S": 1em, "XS": 0.6250em, "XXS":0.4em);
$gap: ("XXL": 3em,"XL": 2em, "L": 1.5em, "M": 1em, "S": 0.5em, "XS": 0.3em);
$tamanio-fuente: ("XXL": 4em,"XL": 3em, "L": 2.5em, "M": 1.7em, "S": 1.25em, "XS": 1em, "XXS":0.8em);
$interlineado: ("doble": 2.5em, "recomendado": 1.7em, "normal": 1.3em);

//mixins
@mixin borde3D( $color ) {
    box-shadow: 0px 0px 1px $color, 1px 1px 2px $color, 2px 2px 3px $color, 3px 3px 4px $color, 4px 4px 5px $color;
}

@mixin display-flex-row( $valor ) {
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    @if $valor == 1 {
        justify-content: center;
    } @else if $valor == 2 {
        justify-content: space-between;
    } @else if $valor == 3 {
        justify-content: space-around;
    } @else if $valor == 4 {
        justify-content: space-evenly;
    }
}

@mixin display-flex-column( $valor ) {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;

    @if $valor == 1 {
        align-items: center;
    } @else if $valor == 2 {
        align-items: start;
    } @else if $valor == 3 {
        align-items: end;
    } 
}

@mixin display-grid ( $direccion, $columnas: 0, $filas: 0, $grid-gap: 0 ) {
    display: grid;
    grid-gap: $grid-gap;

    @if $direccion == 1 {
        grid-template-columns: repeat($columnas, 1fr);
    } @else if $direccion == 2 {
        grid-template-rows: repeat($filas, 1fr);
    } @else if $direccion == 3 {
        grid-template-columns: repeat($columnas, 1fr);
        grid-template-rows: repeat($filas, 1fr);
    }
}

