@use 'utilities';

/*----------------------***** VIEW ***** ----------------------*/

.view__register, .view__log-in {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    @include utilities.display-flex-row(1);
    transition: all 300ms;
    z-index: 500;
}

#frmInsertar, #frmLogIn {
    z-index: 201;
    padding: map-get($map: utilities.$pad, $key: 'XXL');
    padding-top: 0;
    padding-bottom: map-get($map: utilities.$pad, $key: 'L');
    background-color: white;
    border: 6px solid utilities.$color_celeste;
    border-radius: 7px;

    input {
        width: 250px;
        height: 25px;
        border: none;
        border-bottom: 3px solid utilities.$color_gris;
        padding-left: 5px;
        transition: all 300ms;

        &:focus {
            border-bottom: 3px solid utilities.$color_celeste;
        }
    }
    
    .view__register-field--placeholder {
        margin-bottom: 25px;
        position: relative;

        p {
            top: 2px;
            left: 5px;
            opacity: 0.5;
            position: absolute;
            font-family: utilities.$parrafo;
            transition: all 400ms;
        }

        &:hover p{
            top: -19px !important;
        }
    }
    .view__register-field--placeholder-date {
        margin-bottom: 25px;
        font-family: utilities.$parrafo;

        p {
            font-family: utilities.$parrafo;
            margin-left: 5px;
            opacity: 0.5;
        }
    }
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 200;
    background-color: rgba($color: utilities.$color_gris, $alpha: 0.7);
}

.view__register-title {
    margin-top: -6px;
    height: 80px;
    @include utilities.display-flex-row(1);
    border-top: 6px solid utilities.$color_gris_oscuro;

    span {
        font-family: utilities.$fuente_titulo;
    }

    .span-segundo {
        color: utilities.$color_celeste;
    }
}

.view__register-field--placeholder-gender,
.view__register-field--placeholder-privilage {
    select {
        width: 250px;
        margin-bottom: 25px;
        height: 25px;
        border: none;
        font-family: utilities.$parrafo;
        border-bottom: 3px solid utilities.$color_gris;
        transition: all 300ms;

        &:focus {
            border-bottom: 3px solid utilities.$color_celeste;
        }
    }

    p {
        font-family: utilities.$parrafo;
        margin-left: 5px;
        opacity: 0.5;
    }
}

.botones {
    @include utilities.display-flex-row(3);

    button, a {
        @include utilities.display-flex-row(3);
        padding: map-get($map: utilities.$pad, $key: 'XS') !important;
        width: 120px;
        border: 2px solid utilities.$color_gris;
        background-color: utilities.$color_celeste;
        color: white;
        font-family: utilities.$parrafo !important;
        transition: all 500ms;

        &:hover {
            border: 2px solid utilities.$color_celeste;
            background-color: utilities.$color_gris;
            color: utilities.$color_celeste;
        }

        i {
            font-size: 20px;
        }
    }

    button {
        padding: 10px !important; 
        font-size: 16px;
    }
}

.view__log-in .botones {
    @include utilities.display-flex-column(1);

    button, a {
        width: 170px;
        margin-bottom: 10px;
    }

    a {
        order: 1;
    }
}

.view__register-field--placeholder-gender, 
.view__register-field--placeholder-privilage, 
.view__register-field--placeholder-date,
.view__register-field--placeholder {
    i {
        color: utilities.$color_celeste !important;
    }
}

// estilo elementos cuando hacemos login
.nameUser {
    @include utilities.display-flex-row(2);
    padding-right: 4px;
    margin-right: 4px;
    border-right: 1px solid white;

    a, p {
        color: utilities.$color_celeste !important;
        text-decoration: none;
        font-family: utilities.$fuente_menu;
        font-size: map-get($map: utilities.$tamanio-fuente, $key: 'XXS');
        letter-spacing: 1.5px;
        opacity: 1; 
        transition: all 300ms;
    }

    a {
        margin-left: 6px;

        &:hover {
            text-decoration: underline;
            transform: scale(1.0, 1.0) !important;
        }
    }

    p {
        color: white !important;
    }
}

.logOut {
    a:hover {
        text-decoration: underline;
    }
}

// Perfil
.nav__perfil {
    width: 100%;
    height: auto;
    padding: 30px 0;
    background-color: utilities.$color_gris;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    @include utilities.display-flex-row(3);

    .bar {
        font-size: map-get($map: utilities.$tamanio-fuente, $key: "M");
        color: white;
        display: none;
        flex-basis: 40%;
        text-align: center;
    }

    ul {
        flex-basis: 50%;
        @include utilities.display-flex-row(3);

        li {
            list-style: none;

            &:hover ul {
                display: block;
            }

            &:hover {
                background-color: utilities.$color_gris_oscuro;
            }
        }

        ul {
            display: none;
            position: absolute;
            background-color: utilities.$color_gris_oscuro;
            

            li {
                padding: 10px;
                list-style: none;
                
                a {
                    text-decoration: none;
                    color: white;
                }

                &:hover a {
                    text-decoration: underline;
                    color: utilities.$color_celeste;
                }
            }
        }
        
        a {
            font-size: map-get($map: utilities.$tamanio-fuente, $key: 'S');
            font-family: utilities.$fuente_menu;
            color: utilities.$color_celeste;
            letter-spacing: 1.5px;
            cursor: pointer;
        }
    }
}

.ul__problema {
    display: flex !important;
    justify-content: space-around !important;
    align-items: center !important;
}

.options {
    flex-grow: 1;
    @include utilities.display-flex-row(1);

    a {
        color: white;
        text-decoration: none;
        font-family: utilities.$fuente_menu;
        letter-spacing: 1.5px;
        cursor: pointer;

        &:hover {
            color: utilities.$color_celeste;
            text-decoration: underline;
        }
    }

    .back {
        padding-right: 4px;
        margin-right: 4px;
        border-right: 2px solid utilities.$color_celeste;
    }
}

.bienvenida {
    width: 100%;
    text-align: center;
    height: 95vh;
    @include utilities.display-flex-column(1);

    img {
        height: 100px;
        width: 100px;
    }

    h2 {
        margin-top: 20px;
        font-family: utilities.$fuente_titulo;
        font-size: map-get($map: utilities.$tamanio-fuente, $key: 'XL');
    }

    strong {
        text-transform: uppercase;
        font-family: utilities.$fuente_titulo;
        color: utilities.$color_celeste;
        font-size: map-get($map: utilities.$tamanio-fuente, $key: 'XS');
    }

    p {
        margin-top: 20px;
        font-family: utilities.$fuente_titulo;
        font-size: map-get($map: utilities.$tamanio-fuente, $key: 'XS');
    }
}

.perfil__agregar-usuario {
    margin-top: 100px;
    @include utilities.display-flex-row(1);
}