$color_gris_oscuro : #222831;
$color_celeste: #00adb5;

$fuente_menu: "Orbitron";
$fuente_titulo: "Josefin";

footer {
    margin-top:3em;
    background-color: $color_gris_oscuro;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 1em;

    .div__mapa {
        width: 65%;
        margin: 0px auto;
        height: 20em;
        padding: 1em;

        iframe {
            width: 100%;
            height: 100%;
        }
    }

    h3 {
        align-self: center;
        color: $color_celeste;
        text-align: center;
        font-size: 25px;
        font-family: $fuente_menu;
        letter-spacing: 3px;
    }

    .div__hacemos {
        display: grid;
        grid-template-rows: 1fr 3fr;
        padding: 1em;
        
        ul {
            display: flex;
            flex-flow: wrap column;
            justify-content: center;

            li {
                list-style: none;
                color: white;
                text-align: center;
                font-size: 18px;
                padding: 0.7em;
                font-family: inherit;
            }
        }
    }

    .div__contactanos {
        display: grid;
        grid-template-rows: 1fr 3fr;
        padding: 1em;

        .div__contactanos__info {
            display: flex;
            flex-flow: wrap column;
            justify-content: center;
            align-items: center;

            span {
                padding: 0.5em;
                color: white;
                font-size: 18px;
                font-family: inherit;

                .icon {
                    color: $color_celeste;
                }
            }

            .div__contactanos__redes {
                margin-top: 1em;
                padding: 0.5em;
                display: grid;
                grid-template-columns: auto auto auto;
                grid-gap: 0.5em;
                width: 100%;
                
                a {
                    text-align: center;

                    i {
                        font-size: 2.5em;
                        color: white;
                        transition: all 300ms;
                    }

                    i:hover {
                        transform: scale(1.3, 1.3);
                        color: $color_celeste;
                    }
                }
            }
        }
    }

    .derechos {
        background-color: black;
        grid-column: 1/-1;
        text-align: center;
        padding: 1.5em;
        border-top: 1px solid $color_celeste;

        strong {
            color: white;
            font-size: 1.5em;
            font-family: $fuente_titulo;
            letter-spacing: 1px;

            a{
                font-size: 1.3em;
                text-decoration: none;
                color: $color_celeste;
                letter-spacing: 1px;
                font-family: $fuente_titulo;
                transition: all 300ms;
            }

            a:hover {
                text-decoration: underline;
            }
        }
    }
}