$fuente_menu: "Orbitron";
$fuente_titulo: "Josefin";

$color_gris : #393e46;
$color_celeste: #00adb5;
$color_azul: #222831;
$color_claro: #eeeeee;

.header-inicio__menu {
           
    ul {
        width: 100%;
        position: fixed; 
        top: 0;
        left: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        padding: 0.7em;
        background-color: $color_gris;
        opacity: 0.8;
        border-bottom: 3px solid rgba($color: $color_celeste, $alpha: 0.7);
        z-index: 10;

        li:first-child {
            grid-column: 1/-1;

            a {
                color: $color_celeste;
                font-size: 20px;
                text-transform: none;
            }
        }

        li {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                height: 3em;
            }

            a {
                color: white;
                text-decoration: none;
                font-family: $fuente_menu;
                text-transform: uppercase;
                letter-spacing: 2px;
                opacity: 1; 
                transition: all 300ms;
            }

            a:hover {
                transform: scale(1.3, 1.3);
            }
        }
    }
}

.header-inicio__titulo {
    background-color: $color_azul;
    margin-top: 102px;
    padding: 2.5em;

    h1 {
        color: $color_claro;
        font-family: $fuente_titulo;
        font-size: 50px;
        text-align: center;
    }
}