$fuente_menu: "Orbitron";
$fuente_titulo: "Josefin";

$color_gris : #393e46;
$color_gris_oscuro : #222831;
$color_celeste: #00adb5;
$color_claro: #eeeeee;
$colo_gris_claro: #777;

$interlineado: 1.7em;

//Valores generales
@import 'valores_generales.scss';

//Header
@import 'header.scss';

.div__productos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2em;
    grid-gap: 3em;
    background-color: $color_claro;

    .div__producto {    
        width: 70%;
      
        margin: 0 auto;
        background-color: $color_gris_oscuro;
        box-shadow: 0px 0px 4px black;

        .div__producto__img {
            height: 275px;
            position: relative;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            perspective: 1000px;
    
            img {
                height: 100%;
                width: 100%;
                backface-visibility: hidden;
                transition: all 500ms;
            }
    
            .producto__detalle {
                height: 100%;
                width: 100%;
                position: absolute;  
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                transform: rotateX(180deg);
                backface-visibility: hidden;
                transition: all 500ms;
                background-color: $color_claro;

                p {
                    color: $color_gris_oscuro;
                    font-size: inherit;
                    padding: 10px;
                    font-size: 18px;
                }
            }
        }

        .div__producto__img:hover img {
            transform: rotateX(-180deg);
        }

        .div__producto__img:hover .producto__detalle {
            transform: rotateX(0deg);
        }
    
        .producto__info {
            margin: 0 auto;
            padding: 1em;

            h2 {
                font-family: $fuente_titulo;
                text-align: center;
                color: $color_celeste;
            }

            p {
                margin-top: 1em;
                text-align: center;
                font-family: inherit;
                color: $color_claro;
                line-height: $interlineado;
            }
        }

        .div__carrito {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            height: 45px;
            overflow: hidden;
            transition: all 300ms;

            a, i {
                opacity: 0;
                font-size: 20px;
                color: white;
                font-weight: bold;
                position: relative;
            }

            a {
                font-family: inherit;
                margin-right: 5px;
                text-decoration: none;
            }

            a:hover,
            i:hover {
                cursor: pointer;
            }
        }
    }

    .div__producto:hover {
        box-shadow: 0px 0px 4px black, 2px 2px 6px black, -2px -2px 6px black;
    }

    .div__producto:hover .div__carrito a,
    .div__producto:hover .div__carrito i {
        animation: deArriba 500ms linear;
        opacity: 1;
    }

    .div__producto:hover .div__carrito {
        background-color: $color_celeste;
    }
}

.div__cita__contactos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 2em;

    .div__cita, 
    .div__contactos {
        margin-top: 1em;
        padding: 2em;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            font-family: $fuente_titulo;
            font-size: 30px;
            letter-spacing: 2.5px;
            text-align: center;
        }

        a {
            padding:2em 1em;
            padding-bottom: 1em;
            font-family: $fuente_menu;
            font-size: 20px;
            letter-spacing: 3px;
            text-align: center;
            text-decoration: none;
            transition: all 300ms;
            
            &:hover {
                transform: scale(1.5,1.5);
            }
        }

        
    }
}

@keyframes deArriba {
    0%{
        transform: translateY(0em);
        opacity: 0;
    }50%{
        transform: translateY(-3em);
        opacity: 0;
    }100%{
        transform: translateY(0em);
        opacity: 1;
    }
}

//Footer
@import 'footer.scss';

//Responsive
@import 'mediaQuerys.scss';