@use '../utilities';

/*----------------------***** HEADER ***** ----------------------*/
.header-inicio__menu {      
    & > ul {
        width: 100%;
        position: fixed; 
        top: 0;
        left: 0;
        @include utilities.display-grid(1);
        grid-template-columns: 0.5fr 3fr 2fr;
        padding: map-get( $map: utilities.$pad, $key: 'XS' );
        background-color: utilities.$color_gris;
        opacity: 0.8;
        border-bottom: 3px solid rgba($color: utilities.$color_celeste, $alpha: 0.7);
        z-index: 10;

        .hashtag {
            grid-column: 1/-1;

            a {
                color: utilities.$color_celeste;
                font-size: map-get( $map: utilities.$pad, $key: 'S' );
                text-transform: none;
            }
        }

        li {
            list-style: none;
            @include utilities.display-flex-row(1);

            img {
                height: 3em;
            }

            a {
                color: white;
                text-decoration: none;
                font-family: utilities.$fuente_menu;
                text-transform: uppercase;
                font-size: map-get($map: utilities.$tamanio-fuente, $key: 'XXS');
                letter-spacing: 1.5px;
                opacity: 1; 
                transition: all 300ms;
                
                &:hover {
                    transform: scale(1.3, 1.3);
                }
            }           
        }

        .menu-opciones {
            @include utilities.display-flex-row(4);
        }
    }
    .hide-user {
        display: none;
        font-size: map-get($map: utilities.$tamanio-fuente, $key: 'S') !important;
    }
    .registros {
        width: 100%;
        @include utilities.display-flex-row(4);
        transition: all 500ms;
       
        li{
            border: 2px solid utilities.$color_celeste;
            padding: map-get($map: utilities.$pad, $key: 'XS');
            transition: all 500ms;
    
            a:hover {
                transform: scale(1.05, 1.05);
                text-decoration: underline;
                cursor: pointer;
                transition: all 500ms;
            }
        }
    
        a {
            color: white;
            text-decoration: none;
            font-size: map-get($map: utilities.$tamanio-fuente, $key: 'XXS');
            opacity: 1; 
            transition: all 500ms;
        }
    }
}

.target {
    position: fixed;
    @include utilities.display-flex-row(1);
    top: 20px;
    left: 6px;
    width: 60px;
    height: 60px;
    background-color: utilities.$color_gris;
    border-radius: 1000px;
    z-index: 102;
    opacity: 0.8;
    transition: all 1s;

    a {
        opacity: 1;
        color: white;
        font-size: map-get($map: utilities.$tamanio-fuente, $key: 'M');
    }
}
.header-inicio__titulo {
    background-color: utilities.$color_gris_oscuro;
    margin-top: 84px;
    padding: 2.5em;

    h1 {
        color: utilities.$color_claro;
        font-family: utilities.$fuente_titulo;
        font-size: map-get( $map: utilities.$tamanio-fuente, $key: 'XL' );
        text-align: center;
    }
}

